@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Ubuntu:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-aha-black-400 text-white;
}

.aha-logo {
  @apply block h-[15px] w-[35px] text-[13px] font-bold leading-[15px] tracking-tighter;

  background: linear-gradient(270deg, #ffd25f 0.13%, #ff5c01 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.aha-nav-bottom {
  @apply flex h-full items-center justify-center gap-[50px];

  background: rgba(24, 24, 24, 0.2);
  box-shadow: inset 0 0.5px 0 rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(27.1828px);
}

.MuiTextField-root.aha-text-field > div.MuiOutlinedInput-root {
  @apply rounded-md border-[3px] border-white/[.5];
}
.MuiTextField-root.aha-text-field > div.MuiOutlinedInput-root.Mui-focused {
  @apply border-aha-orange-400;
}
.MuiTextField-root.aha-text-field > div.MuiOutlinedInput-root > input {
  @apply h-[21px] px-[18px] pb-[19px] pt-5 text-sm leading-[21px] tracking-[0.25px] text-white;
}
.MuiTextField-root.aha-text-field
  > div.MuiOutlinedInput-root.Mui-focused
  > fieldset {
  @apply border-none;
}

.MuiSlider-root.aha-slider .MuiSlider-rail {
  @apply h-2 bg-white/[.3];
}
.MuiSlider-root.aha-slider .MuiSlider-track {
  @apply h-2 border-none bg-gradient-to-r from-aha-orange-800 to-aha-yellow-400;
}
.MuiSlider-root.aha-slider .MuiSlider-thumbColorPrimary {
  @apply h-[26px] w-[26px] border-[6px] border-aha-yellow-350 bg-aha-black-300;
}
.MuiSlider-root.aha-slider .Mui-active {
  @apply shadow-none;
}
.MuiSlider-root.aha-slider .MuiSlider-mark {
  @apply hidden;
}
.MuiSlider-root.aha-slider .MuiSlider-markLabel {
  @apply text-sm leading-[21px] tracking-[0.25px] text-white/[.5];
}
.MuiSlider-root.aha-slider .MuiSlider-markLabelActive {
  @apply text-sm leading-[21px] tracking-[0.25px] text-white;
}
